 body{
    margin: 0px;
  }

	
	.intro{
		    display: flex;
    background: #171615;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #efdddd;
    font-size: 80px;
    font-family:'Turret Road';
	}

	.salir{
		    position: absolute;
    		top: 19px;
    		right: 35px;
    		color: #fff;
    		font-size: 50px;
	}

	.admin{
		    position: absolute;
    		top: 76px;
    		right: 35px;
    		color: #fff;
    		font-size: 50px;
	}