
  body{
    margin: 0px;
  }

  .intro{
        display: flex;
    background: #74d23b;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #efdddd;
    font-size: 30px;
    font-family:'Turret Road';
  }

  input{
    padding: 18px;
    border-radius: 13px;
    font-size: 30px;
    font-family:'Turret Road';
    border: 0px;
  }


  form{

    display: grid;
    grid-template-columns: 100%;
    line-height: 80px;
  }

  button{

        font-size: 30px;
    padding: 18px;
    background: #171615;
    border: none;
    border-radius: 13px;
    margin-top: 50px;
    color: #fff;

    font-family:'Turret Road';
  }

  a{
    color:#fff;
  }