<link href="https://fonts.googleapis.com/css?family=Poppins|Turret+Road&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/inicio.css">


<div class='intro'>


<div>Bienvenido {{usuario}}</div>

<a class='salir' href='/logout/'>Salir</a>

<a class='admin' href='/admin' target="_blank">Django Admin</a>



</div>

