
<link href="https://fonts.googleapis.com/css?family=Poppins|Turret+Road&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/login.css">

<div class='intro'>


<a class='salir' href='/admin' target="_blank">Django Admin</a>


               <form action="/login/" method="POST">


              <h1>Login</h1>

                {% csrf_token %}
                          


                     <label>Usuario</label>
                     <input type="text" required class="form-control" placeholder="Usuario" name='usuario'>
                  
                     <label>Password</label>
                     <input type="password" required class="form-control" placeholder="Password" name='password'>
                  


                  <button type="submit" class="btn btn-black">Ingresar</button>

                  {{info}}

                  <a href='/registro' >Registrese</a>

                 </form>


</div>


