
<link href="https://fonts.googleapis.com/css?family=Poppins|Turret+Road&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/registro.css">


<div class='intro'>


               <form action="/registro/" method="POST">


              <h1>Registro</h1>

                {% csrf_token %}
                          


                     <label>Usuario</label>
                     <input type="text" required class="form-control" placeholder="Usuario" name='usuario'>
                  
                     <label>Password</label>
                     <input type="password" required class="form-control" placeholder="Password" name='password'>
                  
                      

                  <button type="submit" class="btn btn-black">Registrar</button>

                  {{info}}

                  <a href='/login'>Login</a>

                 </form>


</div>



